<link rel="icon" type="image/x-icon" href="{{url_for('user.static',filename='/img/logo.png')}}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('user.static',filename='css/bootstrap.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('user.static',filename='css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='css/elegant-icons.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='css/magnific-popup.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='css/nice-select.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='css/owl.carousel.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='css/slicknav.min.css')}}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='css/style.css')}}" type="text/css">

<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('user.static',filename='css/main.css')}}">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

