
<script src="{{ url_for('user.static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('user.static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('user.static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('user.static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('user.static',filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('user.static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{ url_for('user.static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('user.static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('user.static',filename='js/mainl.js')}}"></script>


<script src="{{ url_for('user.static',filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/jquery.nicescroll.min.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/jquery.countdown.min.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/jquery.slicknav.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/mixitup.min.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('user.static',filename='js/main.js')}}"></script>
<script src="https://kit.fontawesome.com/8ec9560bc1.js" crossorigin="anonymous"></script>